body {
    background-color: #B0C4DE;
}

header,
footer {
    display: flex;
    justify-content: center;
    
}

#main {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 40px;

}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    align-items: center;
}

.grid {
    border: 2px solid black;
    display: grid;
    height: 608px;
    width: 608px;
}

.cell {
    background-color: #F8F8FF;
    transition: 0.2s;
    /*border: 0.5px solid black;*/
    aspect-ratio: 1;

}

footer {
    margin-top: 40px;
}