body {
    background-color: #E6E6FA;
}

header,
footer,
#main {
    display: flex;
    justify-content: center;
    
}

#main {
    gap: 60px;
    margin-top: 40px;

}

.menu,
.slidecontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu {
    gap: 30px;
}

.grid {
    border: 2px solid black;
    display: grid;
    height: 592px;
    width: 592px;
}

.cell {
    background-color: #F8F8FF;
    transition: 0.2s;
    /*border: 0.5px solid black;*/
    aspect-ratio: 1;

}

footer {
    margin-top: 40px;
}


.btn {
 
  
}

.btn:hover {
 
}